html, body {
	background-color: black;
}

#header {
	text-align: center;
	color: white;
	background: black;
	font-size: 40px;
	margin-bottom: 15px;
}

.row{
	background: black;
}

#banner {
	background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
	background-position: center center;
	height:200px;
}

.rating {
	color: white;
}

.btn {
    margin: 0px 5px 5px;
}

.search-item {
	float: left;
	margin-left: 20px;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 102px;
  }


